{% extends "base.html" %}
{% load static %} 

{% block title %}
    Pocket Money - {{ child.firstname }} {{ child.lastname }}
{% endblock %}
    
    
{% block content %}

    <h1>{{ child.firstname }} {{ child.lastname }}</h1>
    <p>Hello this is the details view - to display balance and tasks</p>
    <div class="grid-container-details">
        <div class="grid-child piggy_bank"></div>
        <div class="grid-child coins"></div>
        <div class="grid-child tasks"></div>
    </div>

{% endblock %}