{% extends "base.html" %}
{% load static %} 

{% block title %}
    Pocket Money - Select Child
{% endblock %}
    
    
{% block content %}

    <h1>Pocket Money - Select a Child</h1>
    <p>Hello, select a child to get started</p>

    {% for x in children %}
        <div>
            <a href="details/{{ x.id }}">
                <h2>{{ x.firstname }} {{ x.lastname }}</h2>
                <img src="{% static x.firstname %}.jpeg" alt="photo of {{ x.firstname }}" width="500" height="auto">
            </a>
        </div>
    {% endfor %}

{% endblock %}