{% extends "base.html" %}
{% load static %} 

{% block title %}
    Pocket Money - Select Child
{% endblock %}
    
    
{% block content %}

    <h1>Pocket Money - Select a Child</h1>

<div class="grid-container-pm">

    {% for x in children %}
        <div class="grid-child">
            <a href="details/{{ x.id }}">
                <h2>{{ x.firstname }} {{ x.lastname }}</h2>
                <img src="{% static x.firstname %}.jpg" alt="photo of {{ x.firstname }}">
            </a>
        </div>
    {% endfor %}

</div>

{% endblock %}